body {
  /* display: flex; */

  background-color: #16262e;
  margin: 0 auto;
}

.btn {
  border: none;
  background-color: inherit;
  color: white;
  padding: 14px 28px;
  font-size: 30px;
  font-family: monospace;
  cursor: pointer;
  display: inline-block;
}

button:hover {
  background-color: thistle;
}

#div1 {
  margin: 0 auto;
  position: relative;
  top: 10vh;
}

#div2 {
  margin: 0 auto;
  position: relative;
  top: 33vh;
}

#div3 {
  margin: 0 auto;
  position: relative;
  top: 55vh;
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#codespace {
  margin-top: 25px;
}

.box {
  background-color: black;
  width: 50px;
  height: 50px;
  margin: 5px;
}
